.root {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  width: fit-content;
}

.root > button {
  padding: 8px;
  background-color: transparent;
  border-top-color: var(--color-primary);
  color: var(--color-primary);
}

.root > button:first-child {
  border-top-left-radius: 12px;
}

.root > button:last-child {
  border-bottom-right-radius: 12px;
}

.root > *[aria-pressed="true"] {
  background-color: var(--color-primary);
  border-color: var(--color-contrast);
}
