---
import Map from "../components/Map.astro";
import Section from "../components/Section.astro";
import Layout from "../components/Layout.astro";
import Hero from "../components/Hero.astro";
---

<style>
  .logo {
    max-width: 100%;
    width: 500px;
    margin: 0 12px 50px 12px;
    margin-left: auto;
    margin-right: auto;
  }

  .about {
    padding-bottom: 30px;
  }

  .map-container {
    margin-top: 2rem;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--shadow);
  }

  .come {
    margin: 70px 0 60px 0;
    font-size: 1.2rem;
    text-align: center;
    font-style: italic;
  }

  .page-title {
    visibility: hidden;
    position: absolute;
    top: -5000px;
  }
</style>

<Layout>
  <Hero>
    <img src="/logo.svg" class="logo" alt="L'eau folle logo" />
  </Hero>
  <Section title="Distillerie de Tarentaise" id="about" class="about">
    <p>
      La Distillerie l’Eau Folle est une jeune distillerie installée dans le
      centre de Moutiers.
    </p>
    <p>
      Nous avons pris la décision de travailler avec des produits locaux, que
      nous ramassons, pour la plupart, par nos soins.
    </p>
    <p>
      Notre gamme est ainsi évolutive mais conserve néanmoins un éventail de
      produits disponibles tout au long de l’année.
    </p>
    <p>
      Nous travaillons dans nos locaux avec des méthodes de fabrication
      traditionnelles et sur des alambics à repasse en cuivre.
    </p>
    <p>
      Les produits que nous proposons sont élaborées à partir de recettes que
      nous avons mises au point et peaufinées.
    </p>
    <div class="come">
      <p>
        Nous sommes disponibles, à l’écoute et joignables pour répondre à toutes
        vos demandes concernant nos produits, leur tarification, leur commande
        et leur livraison ou expédition.
      </p>
    </div>

    <div class="map-container">
      <Map client:visible />
    </div>
  </Section>
</Layout>
