---
import "normalize.css";
import ImageLazyLoad from "../components/ImageLazyLoad";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar";
import Map from "../components/Map.astro"
import Card from "../components/Card.astro"
import "./global.css";
import "./index.css";

---

<html lang="en">
	<head>
		<title>L'eau folle</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Distillerie de Tarentaise, Moûtiers."/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#2d184c">
	</head>
	<body>
		<main>
		<Navbar client:load />
			<section class="hero">
				<ImageLazyLoad client:load src="/hero.webp" lowRezSrc="/hero-low.webp" class="hero-img full-over" />
				<div class="hero-overlay full-over" />
				<div class="hero-content">
					<img src="/logo.svg" class="logo" alt="L'eau folle logo" />
					<h1 class="page-title">
						Distillerie de Tarentaise l'eau folle, Moûtiers 
					</h1>
				</div>
			</section>
			<section class="about">
				<div class="container">
					<Card title="Distillerie de Tarentaise">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</Card>
				</div>
			</section>
				<section class="about">
				<div class="container">
					<Card title="La boutique">
						<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</div>
						<div class="map-container">
							<Map client:visible />
						</div>
					</Card>
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
