
<style>
  .flex {
    display: flex;
    justify-content: center;
    gap: 12px
  }
  .copyright {
    background-color: rgb(var(--primary-rgb));
    color: white;
    padding: 22px;
  }
</style>
<footer>
  <div>
    <div class="flex">
      Nous contacter:
    </div>
    <div class="flex">
      <span>email: test@test.com</span>
      <span>mobile: 0606060606</span>
    </div>
  </div>
  <div class="copyright flex">
    @copyright l'eau folle 2022
  </div>
</footer>