<style>
  .flex {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-direction: column;
  }
  footer {
    background-color: rgb(var(--primary-rgb));
    color: white;
    padding: 22px;
  }
  footer a,
  footer h2 {
    color: white;
  }

  footer a:hover, footer a:focus {
    color: white;
    text-decoration: underline;
  }

  .content {
    padding: 24px 12px;
    display: flex;
    justify-content: center;
    gap: 54px;
    flex-wrap: wrap;
  }
  @media (max-width: 600px) {
    .content {
      gap: 20px;
    }
  }
  .copyright {
    margin: 26px 0;
  }
</style>
<footer>
  <div class="content">
    <div class="flex">
      <h2>Adresse</h2>
      <span>L'eau Folle</span>
      <span>10 avenue de la libération</span>
      <span>73600 MOUTIERS</span>
    </div>
    <div class="flex">
      <h2 id="contact">Contact</h2>
      <a href="mailto:">Email: distillerieleaufolle@gmail.com</a>
      <a href="tel:+33 7 48 11 29 37">Tel: +33 7 48 11 29 37</a>
    </div>
  </div>
  <div class="copyright flex">@copyright l'eau folle 2022</div>
</footer>
