---
import ImageLazyLoad from "../components/ImageLazyLoad";

const { title, src, hideTitle } = Astro.props;
---

<style>
  .hero {
    position: relative;
    height: 100vh;
    max-height: 800px;
    overflow: hidden;
  }

  .hero-img {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  .full-over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .hero-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .hero-content > * {
    z-index: 1;
  }

  .hero-overlay {
    background: linear-gradient(
      rgba(var(--background-rgb), 0.2),
      rgba(var(--background-rgb), 1) 95%
    );
    transform: scaleY(1.1);
  }
</style>

<section class="hero">
  <ImageLazyLoad
    client:load
    src="/hero.webp"
    lowRezSrc="/hero-low.webp"
    class="hero-img full-over"
    alt="mountain backgroud"
  />
  <div class="hero-overlay full-over"></div>
  <div class="hero-content">
    <slot />
  </div>
</section>
