.nav {
  width: 100%;
  min-height: 64px;
  z-index: 10;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;
  transition: background-color 500ms, box-shadow 500ms;
}

.nav > a {
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
  color: inherit;
}

.nav > a:hover {
  text-decoration-color: var(--primary-color);
}

.scrolled {
  background-color: var(--color-background);
  box-shadow: var(--shadow);
}
