---
const { title, titre, volume } = Astro.props;
---

<style>
  .title {
    font-size: 1.6rem;
    margin-bottom: 12px;
    font-style: oblique;
  }

  .stack {
    opacity: 0.9;
    display: flex;
    gap: 24px;
    color: var(--color-primary);
  }
</style>

<li>
  <div class="title">
    {title}
  </div>
  <div class="stack">
    <span>Titrage volumique: <strong>{titre}</strong></span>
    <span>Volume: <strong>{volume}</strong></span>
  </div>
  <p>
    <slot />
  </p>
</li>
