---
const { title, id, margin, ...otherProps } = Astro.props;
---

<style>
  .section {
    margin-bottom: 3rem;
    box-sizing: border-box;
    max-width: 1080px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px 0 16px;
    box-sizing: border-box;
  }

  .section-title {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 3rem;
    position: relative;
    color: var(--color-primary);
  }

  .section-title:before {
    content: "";
    width: 10rem;
    height: 10px;
    width: 60px;
    border-radius: 9999px;
    position: absolute;
    bottom: -16px;
    left: 0px;
    background-color: var(--color-secondary);
  }

  .margin-top {
    margin-top: 120px;
  }
</style>

<section class={`section ${margin && "margin-top"}`}>
  {
    title && (
      <h1 class="section-title" {...otherProps}>
        {title}
      </h1>
    )
  }
  <slot />
</section>
